<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.arcanix.screennotifications">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher" android:theme="@style/AppTheme">

        <service
            android:name="com.arcanix.screennotifications.ScreenNotificationListenerService"
            android:label="Screen Notifications"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>

</manifest>
